<% provide(:title, "Gallery") %>


<div id="container">
<div id="gallery">
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_ma_and_paa.jpg", alt: "With his family")), "https://s3-us-west-2.amazonaws.com/josteffgallery/maa_and_paa.JPG" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_everyone.jpg", alt: "All of us")), "https://s3-us-west-2.amazonaws.com/josteffgallery/everyone.JPG" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_us.jpg", alt: "Right after the ceremony")), "https://s3-us-west-2.amazonaws.com/josteffgallery/just_us.JPG" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_with_becky.jpg", alt: "With Becky :)")), "https://s3-us-west-2.amazonaws.com/josteffgallery/with_becky.JPG" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_1.jpg", alt: "Our personal favorite! <3")), "https://s3-us-west-2.amazonaws.com/josteffgallery/1.JPG" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_2.jpg", alt: "Just the siblings")), "https://s3-us-west-2.amazonaws.com/josteffgallery/2.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_3.jpg", alt: "With her family")), "https://s3-us-west-2.amazonaws.com/josteffgallery/3.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_4.jpg", alt: "The dads shaking hands")), "https://s3-us-west-2.amazonaws.com/josteffgallery/4.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_5.jpg", alt: "The dads shaking hands some more")), "https://s3-us-west-2.amazonaws.com/josteffgallery/5.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_6.jpg", alt: "The dads hugging!")), "https://s3-us-west-2.amazonaws.com/josteffgallery/6.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_7.jpg", alt: "Praying - you won't catch us with our eyes open!")), "https://s3-us-west-2.amazonaws.com/josteffgallery/7.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_8.jpg", alt: "Impromptu speech!")), "https://s3-us-west-2.amazonaws.com/josteffgallery/8.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_9.jpg", alt: "Competing with her in the smiles department")), "https://s3-us-west-2.amazonaws.com/josteffgallery/9.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_10.jpg", alt: "With her siblings")), "https://s3-us-west-2.amazonaws.com/josteffgallery/10.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_11.jpg", alt: "One for the ages!")), "https://s3-us-west-2.amazonaws.com/josteffgallery/11.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_12.jpg", alt: "Cover photo!")), "https://s3-us-west-2.amazonaws.com/josteffgallery/12.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_13.jpg", alt: "Loving the proximity!")), "https://s3-us-west-2.amazonaws.com/josteffgallery/13.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_14.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/14.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_15.jpg", alt: "The stage is set")), "https://s3-us-west-2.amazonaws.com/josteffgallery/15.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_16.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/16.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_17.jpg", alt: "The dinner venue")), "https://s3-us-west-2.amazonaws.com/josteffgallery/17.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_18.jpg", alt: "The approach")), "https://s3-us-west-2.amazonaws.com/josteffgallery/18.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_19.jpg", alt: "The choir")), "https://s3-us-west-2.amazonaws.com/josteffgallery/19.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_20.jpg", alt: "All smiles!")), "https://s3-us-west-2.amazonaws.com/josteffgallery/20.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_21.jpg", alt: "Stately")), "https://s3-us-west-2.amazonaws.com/josteffgallery/21.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_22.jpg", alt: "His Ammachi (Grandma) being funny!")), "https://s3-us-west-2.amazonaws.com/josteffgallery/22.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_23.jpg", alt: "Double hug from uncle DP")), "https://s3-us-west-2.amazonaws.com/josteffgallery/23.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_24.jpg", alt: "Her Ammachi (Grandma) being funny!")), "https://s3-us-west-2.amazonaws.com/josteffgallery/24.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_25.jpg", alt: "With Stelcy :)")), "https://s3-us-west-2.amazonaws.com/josteffgallery/25.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_26.jpg", alt: "Another one for the ages!")), "https://s3-us-west-2.amazonaws.com/josteffgallery/26.jpg" %>

</div>
<div id="verse-2" >
<h4>" ... when he had by himself purged our sins, sat down on the right hand of the Majesty on high"<br> - Heb 1:3</h4>
</div>

