<% provide(:title, "Gallery") %>


<div id="container">
<div id="gallery">
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_ma_and_paa.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/maa_and_paa.JPG" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_everyone.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/everyone.JPG" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_us.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/just_us.JPG" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_with_becky.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/with_becky.JPG" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_1.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/1.JPG" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_2.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/2.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_3.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/3.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_4.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/4.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_5.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/5.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_6.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/6.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_7.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/7.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_8.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/8.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_9.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/9.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_10.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/10.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_11.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/11.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_12.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/12.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_13.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/13.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_14.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/14.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_15.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/15.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_16.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/16.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_17.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/17.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_18.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/18.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_19.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/19.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_20.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/20.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_21.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/21.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_22.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/22.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_23.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/23.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_24.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/24.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_25.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/25.jpg" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_26.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/26.jpg" %>

</div>
</div>

