
<h1>pagination page</h1>
<%= form_tag complete_guests_path, :method => :put do %>
<table>
	<% @guests.each do |guest| %>
		<tr>
			<td><%= guest.name %></td>
			<td><%= guest.email %></td>
			<td><%= guest.wish %></td>
			<td><%= check_box_tag "approved_guest_ids[]", guest.id, guest.approved %></td>
			<td><%= check_box_tag "disapproved_guest_ids[]", guest.id, !guest.approved %></td>
		</tr>
	<% end %>
</table>
<%= submit_tag "Approve" %>
<% end %>
<%= will_paginate @guests %>