
<div id="container">
<div id="message_form_wrapper">
<%= form_for(@guest) do |f| %>
	<%= render "shared/error_messages" %>
	<h4 class: "form_element">Name*: </h3>
	<%= f.text_field :name, class: "form_element"%>
	<h4 class: "form_element">Email*: </h3>
	<%= f.email_field :email, class: "form_element"%>
	<h4 class: "form_element">Message*: </h3>
	<%= f.text_area :wish, rows: "5", columns: "40", class: "form_element" %>
	<%= f.submit "Send Message", class: "button", id: "form_submit"  %>
<% end %>
</div>
<div id="message_info">
<h4>Look for your message on the home screen! You can also email your messages to josteffwedding_at_gmail.com</h4>
</div>
</div>
