
<div id="container">
<div id="message_form_wrapper">
<%= form_for(@guest) do |f| %>
	<%= render "shared/error_messages" %>
	<%= f.label :name, class: "form_element" %>
	<%= f.text_field :name, class: "form_element" %>
	<br>
	<%= f.label :email, class: "form_element" %>
	<%= f.text_field :email, class: "form_element" %>
	<br>
	<%= f.label :wish, class: "form_element" %>
	<%= f.text_area :wish, rows: "5", columns: "40", class: "form_element" %>
	<br>
	<%= f.submit "Send Message" %>
<% end %>
</div>
<div id="message_info">
<h4>Look for your message on the home screen! You can also email your messages to josteffwedding_at_gmail.com</h4>
</div>
</div>
