
<nav>
<ul>
<li><%= link_to "Home", root_path, id: "clickableDiv", class: "drop-shadow lifted" %></li>
<li><%= link_to "Our Story", story_path, id: "clickableDiv", class: "drop-shadow lifted" %></li>
<li><%= link_to "Invitation", invite_path, id: "clickableDiv", class: "drop-shadow lifted" %></li>
<li><%= link_to "Pictures", pictures_path, id: "clickableDiv", class: "drop-shadow lifted" %></li>
<li><%= link_to "Wishes", wish_path, id: "clickableDiv", class: "drop-shadow lifted" %></li>
<li><%= link_to "Live", live_path, id: "clickableDiv", class: "drop-shadow lifted" %></li>
</ul>
</nav>
<div id="countdown" class="timer"></div>
<p id="note"></p>
