<!DOCTYPE html>
<html>
<head>
  <title><%= full_page_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Maiden+Orange' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="flash">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</div>

<%= render "shared/header" %>
<h1>Our Wedding</h1>

<%= yield %>

<%= render "shared/footer" %>
</body>
</html>
