<!DOCTYPE html>
<html>
<head>
  <title><%= full_page_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Maiden+Orange' rel='stylesheet' type='text/css'>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if admin_signed_in? %>
	<%= link_to "Sign out", destroy_admin_session_path, :method => :delete, id: "admin_sign_out"%>
	<%= link_to "Index", guests_path, id: "admin_index"%>
<% else %>
	<%= link_to "Sign in", new_admin_session_path, id: "admin_sign_in"%>
<% end %>
<%= yield %>
<%= render "shared/footer" %>

</body>
</html>
